#grid {
	display: flex;
	/* Elements within will be flexed */
	flex-wrap: wrap;
	/* Wrapping behavior replaces need for nested row containers */
	margin: 0.5vh 0;
	/* Top and bottom padding */
	width: 75vh;
	/* Ideally 80% of viewport height */
	max-width: 100vw;
	/* Maximum 100% viewport width */
	min-width: 320px;
	/* Minimum width 320px */
	height: 100vw;
	/* Ideally 100% viewport width */
	max-height: 75vh;
	/* Maximum 80% viewport height */
	min-height: 320px;
	/* Minimum height 320px */
}
