/* Themes */

/* T1: 'Kiddy', */
.T1C1 { background-color: '#663399'; }
.T1C2 { background-color: '#ff2255'; }
.T1C3 { background-color: '#ff7700'; }
.T1C4 { background-color: '#ffff66'; }
.T1C5 { background-color: '#33cc00'; }
.T1C6 { background-color: '#3366ff'; }

/* T2: 'Ice-cream', */
.T2C1 { background-color: '#cc0099'; }
.T2C2 { background-color: '#ff99cc'; }
.T2C3 { background-color: '#66cccc'; }
.T2C4 { background-color: '#99ffff'; }
.T2C5 { background-color: '#99cc00'; }
.T2C6 { background-color: '#ffffbb'; }

/* T3: 'Retro 70s', */
.T3C1 { background-color: '#99ffcc'; }
.T3C2 { background-color: '#ff3333'; }
.T3C3 { background-color: '#ff7700'; }
.T3C4 { background-color: '#ffff66'; }
.T3C5 { background-color: '#663300'; }
.T3C6 { background-color: '#194775'; }

/* T4: 'Tubular 80s', */
.T4C1 { background-color: '#66ffcc'; }
.T4C2 { background-color: '#ff3399'; }
.T4C3 { background-color: '#99cc33'; }
.T4C4 { background-color: '#ffff33'; }
.T4C5 { background-color: '#ff7700'; }
.T4C6 { background-color: '#6600cc'; }

/* T5: 'Camouflage', */
.T5C1 { background-color: '#663300'; }
.T5C2 { background-color: '#654a2d'; }
.T5C3 { background-color: '#996633'; }
.T5C4 { background-color: '#cccc99'; }
.T5C5 { background-color: '#999933'; }
.T5C6 { background-color: '#336633'; }

/* T6: 'Color-blind' */
.T6C1 { background-color: '#336699'; }
.T6C2 { background-color: '#eeeeee'; }
.T6C3 { background-color: '#c1a750'; }
.T6C4 { background-color: '#333333'; }
.T6C5 { background-color: '#663300'; }
.T6C6 { background-color: '#99ccff'; }
